.button {
  
    cursor: pointer;

    &--primary {
      background-color: $brand-color;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: $base-font-family;
      font-size: $font-size-large;
      border-radius: 50px;
    }

    &--secondary {
      background-color: transparent;
      border: 1px;
      color: white;
      padding: 10px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: $base-font-family;
      font-size: $font-size-large;
      color: $brand-color;
      border-color: $brand-color;
      border-style: solid;
      border-radius: 5px;
    }

    &:focus {
        outline: 0;
    }

    &:hover {
      margin-top: -2px;
      margin-bottom: 2px;
      transition: all .1s ease-in-out;
    }



}