.createtab {
  display: flex;
  height: 100%;

  &__form {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 50px;
    height: 100%;
    flex-grow: 1;
  }

  &__error {
    margin-top: 10px;
    color: $error-color;
  }

  &__form-row {
    padding-top: 10px;

    &--submit {
      padding-top: 20px;
      text-align: center;
    }
  }

  &__session {
    position: relative;
    padding: 10px;
    width: 45%;
    min-width: 45%;
    height: 550px;
    background: $grey-background;
    flex-grow: 0;
    overflow-y: scroll;
  }

  &__title {
    font-family: $base-font-family;
    font-size: $font-size-regular;
    color: $text-color-lighter;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    font-variant: small-caps;
  }

  &__title-row {
    display: flex;
    align-items: center;
  }
  
  &__window-row {
    padding-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-content: center;
  }

  &__window-row:hover &__window-remove {
    visibility: visible;
  }


  &__window-title {
    padding-left: 10px;
    font-family: $base-font-family;
    font-size: $font-size-large;
    color: $brand-color;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    font-variant: small-caps;
  }

  &__window-icon {
    height: 32px;
  }

  &__refresh {
    margin-right: 2px;
    width: 12px;
    cursor: pointer;
  }

  &__window-remove {
      height: 16px;
      width: 16px;
      background-repeat: no-repeat;
      background: url('../../assets/remove-gray.png');
      cursor: pointer;
      background-size: 16px 16px;
      visibility: hidden;  
  }

  &__window-remove:hover {
    height: 16px;
    width: 16px;
    visibility: visible;
    background: url('../../assets/remove-red.png');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    cursor: pointer;
  }

  &__window-remove-container {
    margin-right: 10px;
  }

  &__clear {
    margin-top: 20px;
    text-align: center;
  }

}

.tab {

  &__row {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  &__row:hover &__remove {
    visibility: visible;
  }

  &__row:hover &__body {
    background: transparent;
    border: 1px solid $brand-color;
    margin-bottom: -2px;
    cursor: pointer;
  }

  &__col {
    position: relative;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 10px;
  }

  &__body {
    display: flex;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    align-items: center;
    background: rgb(232, 233, 233);
    padding: 3px;
    border-radius: 5px;
  }

  &__body:hover {
    background: transparent;
    border: 1px solid $brand-color;
    margin-bottom: -2px;
    cursor: pointer;
  }

  &__title {
    font-family: $oxygen;
    width: 100%;
    padding-right: 7px;
    font-size: $font-size-regular;
    color: $text-color;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__fav {
    height: 18px;
    padding-right: 10px;
    padding-left: 7px;
  }

  &__remove {
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background: url('../../assets/remove-gray.png');
    cursor: pointer;
    background-size: 16px 16px;
    visibility: hidden;
  }

  &__remove:hover {
    height: 16px;
    width: 16px;
    visibility: visible;
    background: url('../../assets/remove-red.png');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    cursor: pointer;
  }

  &__remove-container {
    margin-right: 20px;
    margin-top: 10px;
  }
  
}