.detailtab {
  display: flex;
  height: 100%;

  &__details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    padding: 15px;
    height: 100%;
    font-family: $base-font-family;
    color: $text-color;

    &__title {
      font-size: $font-size-big;
      font-weight: 700;
      width: 300px;
      word-wrap: break-word;
    }

    &__container {
      display: flex;
      flex-grow: 1;
    }

  }

  &__icons {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    align-items: flex-end;
    margin-bottom: 100px;

    &__edit {
      width: 32px;
      cursor: pointer;
      &:hover {
        padding-bottom: 3px;
      }
    }
  }

  &__launch {
    text-align: center;
    margin-top: 30px;
  }
}