.detailtab {
  display: flex;
  height: 100%;

  &__details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 50px;
    height: 100%;
    flex-grow: 1;
    font-family: $base-font-family;
    color: $text-color;

    &__title {
      font-size: $font-size-big;
      font-weight: 700;
    }

  }

  &__icons {
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 10px;
    position: relative;
    top: 325px;

    &__edit {
      width: 24px;
      cursor: pointer;
      &:hover {
        margin-top: -2px;
      }
    }
  }

  &__launch {
    text-align: center;
    margin-top: 30px;
  }
}