.login {
  display: flex;
  flex-direction: column;
  @include absCenter;

  &__image-container {
    text-align: center;
  }

  &__image {
    height: 128px;
    text-align: center;
  }

  &__form-row {
    width: 300px;
    padding-top: 10px;
    
    &--submit {
      padding-top: 15px;
      text-align: center;
    }

    &--register {
      width: 100%;
      padding-top: 30px;
      text-align: center;
    }
  }

  &__error {
    color: $error-color;
  }

}