.login {
  display: flex;
  flex-direction: column;
  font-family: $base-font-family;
  font-size: $font-size-regular;

  @include absCenter;

  &__image-container {
    text-align: center;
  }

  &__image {
    height: 60px;
    padding: 20px;
    text-align: center;
  }

  &__form-row {
    width: 300px;
    padding-top: 10px;
    
    &--submit {
      padding-top: 15px;
      text-align: center;
    }

    &--register {
      width: 100%;
      padding-top: 30px;
      text-align: center;
    }
  }

  &__form-oauth {
    width: 100%;
    
  }

  &__error {
    color: $error-color;
  }

}