$font-size-ginormous: 7.594em;
$font-size-huge: 5.063em;
$font-size-big: 3.375em;
$font-size-larger: 2.25em;
$font-size-large: 1.5em;
$font-size-regular: 1em;
$font-size-smaller: 0.667em;
$font-size-tiny: 0.6em;


.content {
  color: $text-color;

  &__intro {
    padding-top: 50px;
    text-align: center;

    h1 {
      font-size: $font-size-big;
      font-family: $base-font-family;
      line-height: 63px;
      padding-bottom: 15px;
      @include respond(phone) { // width < 1200?
        font-size: $font-size-larger;
        line-height: 50px;
      }
    }

    p {
      font-size: $font-size-large;
      font-family: $oxygen;
      line-height: 40px;
      padding-bottom: 20px;
      @include respond(phone) { // width < 1200?
        font-size: $font-size-regular;
        line-height: 40px;
      }
    }

    &__desc {
      width: 60%;

      @include respond(phone) { // width < 1200?
        width: inherit;
      }
      @include respond(tablet) { // width < 1200?
        width: 90%;
      }
    }
  }

  h2 {
    font-size: $font-size-larger;
    font-family: $base-font-family;
    font-weight: 700;
    line-height: 60px;
    @include respond(phone) { // width < 1200?
      font-size: $font-size-larger;
      line-height: 42px;
      padding-bottom: 10px;
    }
  }

  p {
    font-size: $font-size-large;
    font-family: $oxygen;
    line-height: 45px;
    font-weight: 300;
    @include respond(phone) { // width < 1200?
      font-size: $font-size-regular;
      line-height: 28px;
    }
  }

  &__app {
    h2 {
      font-size: $font-size-larger;
      font-family: $base-font-family;
      color: $text-color;
      font-weight: 700;
      line-height: 60px;
      @include respond(phone) { // width < 1200?
        font-size: $font-size-larger;
        line-height: 42px;
        padding-bottom: 10px;
      }
    }

    p {
      font-size: $font-size-regular;
      font-family: $oxygen;
      line-height: 45px;
      font-weight: 300;
      @include respond(phone) { // width < 1200?
        font-size: $font-size-regular;
        line-height: 28px;
      }
    }
  }

  .link {
    color: $link-color;
    cursor: pointer;
  }
}