@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400|Quicksand:400,700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

nav {
    position: absolute;
    top: 0; /* required */
    z-index: 10;
    width: 100%;
}

body.modal-open {
    overflow: hidden;
}

// Define defaults for each variable.
$base-font-family: Quicksand, Helvetica, Arial;
$oxygen: Oxygen, Helvetica, Arial;

$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #4C5B5C !default;
$text-color-lighter:       rgba(76, 91, 92, 0.486) !default;
$link-color: #067bc2;
$brand-color:      #BCDB71 !default;
$error-color: #E26D5A !default;
$grey-color: rgba(242, 244, 243, 0.43);
$white: #fdfdfd;

$modal-background-color: rgba(242, 244, 243, 0.95);
$white-background: #fdfdfd !default;
$grey-background: linear-gradient(to right,$grey-color 0%, $grey-color 100%);
$modal-background: linear-gradient(to right,$modal-background-color 0%, $modal-background-color 100%);


a {
    text-decoration: none;
    color: $link-color;
    cursor: pointer;
}

a:visited {
    color: $link-color;
}

a:hover {
    text-decoration: underline;
}



@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tablet {
        @media only screen and (max-width: 67.25em) { @content };     //900px
    }
  
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@import "partials/typography";
@import "partials/button";
@import "partials/modal";
@import "partials/textfield";
@import "partials/checkbox";
@import "partials/table";
@import "partials/slidein";
@import "partials/createtab";
@import "partials/tag";
@import "partials/dropdown";