@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400|Quicksand:400,700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


// Define defaults for each variable.
$base-font-family: Quicksand, Helvetica, Arial;
$oxygen: Oxygen, Helvetica, Arial;

$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #4C5B5C !default;
$brand-color:      #E74B85 !default;
$grey-color: rgba(242, 244, 243, 0.43);
$white: #fdfdfd;

$modal-background-color: rgba(242, 244, 243, 0.95);
$white-background: #fdfdfd !default;
$grey-background: linear-gradient(to right,$grey-color 0%, $grey-color 100%);
$modal-background: linear-gradient(to right,$modal-background-color 0%, $modal-background-color 100%);

$font-size-ginormous: 7.594em;
$font-size-huge: 5.063em;
$font-size-big: 3.375em;
$font-size-larger: 2.25em;
$font-size-large: 1.5em;
$font-size-regular: 1em;
$font-size-smaller: 0.667em;
$font-size-tiny: 0.444em;

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tablet {
        @media only screen and (max-width: 67.25em) { @content };     //900px
    }
  
}
