@import '../../styles/index';

.popup {
  width: 480px;
  height: 640px;
  position: relative;
}

.header {
  width: 100%;

  &__content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    display: flex;
    height: 30px;
  }

  &__logo {
    height: 28px;
    position: absolute;
    left: 10px;
  }

  &__more {
    height: 28px;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }

}

.search {
  &__content {
    width: 100%;
    padding: 10px;
    display: flex;
    height: 50px;
  }

  &__field {
    width: auto;
    flex: 1;
  }

  &__plus {
    flex: 0;
    padding-right: 20px;
    padding-left: 10px;
    vertical-align: middle;
    position: relative;
  }

  &__image {
    height: 45px;
    cursor: pointer;
  }

}

.divider {
    border-top: 1px solid #D8D8D8;
    &--heavy {
      border-top: 2px solid #D8D8D8;
    }
}