@import '../../../styles/variables';

.button {
  border-radius: 5px;
  width: 100px;
  padding: 10px 20px 10px 20px;
  font-family: $base-font-family;
  font-size: $font-size-large;
  background: $brand-color;
  cursor: pointer;

  &--primary {
    color: $white;
  }

  &--secondary {
    color: $brand-color;
    background: $white;
    border: solid;
    border-color: $brand-color;
  }
}